.hero {
	background: url("../img/bg/hero-bg.jpg") center center no-repeat;
	background-size: cover;
	position: relative;

	.container {
		position: static;
	}
}

.hero__content {
	@include clearfix;
}

.hero__container {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
}

.hero__left {
	float: left;
	width: 50%;
}

.hero__right {
	float: left;
	width: 50%;
	padding-top: 115px;
}

.hero__desc {
	font-size: 65px;
	color: white;
	@include lifehack;
	text-transform: lowercase;
	line-height: 1em;
}

.hero__img {
	display: inline-block;
	max-width: 100%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.down-arrow {
	display: block;
	position: absolute;
	bottom: 20px;
	left: 50%;
	width: 60px;
	height: 14px;
	margin-left: -15px;
	transition: .3s;
	height: 60px;

	&:hover {
		svg {
			margin-top: -15px;
			width: 35px;
			height: 35px;
		}
	}

	svg {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 30px;
		height: 30px;
		transform: translate(-50%, -50%);
		transition: .3s;
	}
}