.menu {
	background: url('../img/bg/menu-bg.jpg') 50% no-repeat;
	background-size: cover;
	position: relative;
}

.menu__title {
	position: absolute;
	top: 10%;
	left: 10%;
}

.menu-acco {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	@extend %clearfix;
}

.menu-acco__item {
	float: left;
	height: 100%;

	&.active {
		.menu-acco__trigger-text {
			color: $yellow;
		}
	}
}

.menu-acco__trigger {
	width: 80px;
	display: block;
	height: 100%;
	float: left;
	@include cover;
	text-decoration: none;
	position: relative;
}

.menu-acco__trigger-text {
	font-size: 40px;
	color: #fff;
	@include gagalin;
	transform: rotate(-90deg);
	text-align: center;
	white-space: nowrap;
	width: 650px;
	height: 80px;
	position: absolute;
	top: 50%;
	left: -275px;
	margin-top: -40px;
}

.menu-acco__content {
	height: 100%;
	float: left;
	background: rgba(#2f3234, .93);
	width: 0;
	overflow: hidden;
}

.menu-acco__text {
	@include ubuntu(light);
	font-size: 14px;
	color: #fff;
	padding: 60px 30px;
	width: 550px;
	line-height: 1.8;
}
